body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    font-family: Arial, sans-serif;
    height: 100vh;
    justify-content: center;
}

input {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}


button {
    background-color: #5661ff;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:#4d57e3;
}

h1 {
    color: #333;
    font-size: 4rem;
    align-self: center;
    text-align: center;
    justify-content: center;
    margin: 0;
}

p {
    color: #666;
    font-size: 1.7em;
}


label {
    color: #333;
    font-size: 1.2em;
    margin: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}


#attempts {
    color: #666;
    font-size: 1.5em;
}


#alertMessage {
    color: rgb(247, 56, 38);
    font-size: 20px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: fixed;
    bottom: 10%;
    width: 100vw;
}

section {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

