body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h1 {
    color: #333;
    margin-top: 20rem;
    font-size: 4rem;
}

p {
    color: #666;
    font-size: 1.7em;
    line-height: 0%;
    margin-top: 0;

}

label {
    color: #333;
    font-size: 1.2em;
    margin: 1rem;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.guess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

#attempts {
    color: #666;
    font-size: 1.7em;
    line-height: 0%;
    margin-top: 0;
}

#message {
    color: #666;
    font-size: 1.5em;
    line-height: 0%;
    margin-top: 0;
    padding-bottom: .65em;
}

#alertMessage {
    color: rgb(250, 40, 40);
    font-size: 16px;
}

footer {
    position: absolute;
    bottom: 5%;
}