* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styling */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  /* Header styling */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Main styling */
  main {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  /* Form styling */
  form {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    margin-right: 10px;
  }
  
  input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    width: 60%;
  }
  
  button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* To-do list container styling */
  #todoList {
    background-color: #fff;
    padding: 1.4rem;
    border-radius: 0.3rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    list-style: none;
  }
  
  /* To-do list item styling */
  .todoItem {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    border-left: 0.3rem solid gray;
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
  }