* {
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(104, 51, 14);
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1{
    color: aliceblue;
}
header a{
    color: antiquewhite;
    margin: 0 1rem;
    text-decoration: none;
    padding: 0.5rem;
    cursor: pointer;
}
header button{
    color: antiquewhite;
    background-color: rgb(104, 51, 14);
    margin: 0 1rem;
    text-decoration: none;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}
.active{
    background-color: antiquewhite;
    color: rgb(104, 51, 14);
}